<p-toast />

<ul *ngIf="uploadedFilesShow.length; else uploadFiles">
  <li *ngFor="let file of uploadedFilesShow; let index = index">
    <span>{{ file.filename }}</span
    ><br />
    <ul *ngIf="file.data; else noData">
      <li *ngFor="let dataItem of file.data">
        {{ dataItem.category }} - {{ dataItem.value }}
      </li>
    </ul>
    <button
      icon="pi pi-ban"
      pButton
      type="button"
      label="Удалить"
      (click)="removeFile(index)"
    ></button>
    <app-pie-chart [data]="uploadedFiles[index].data || []"></app-pie-chart>
    <app-bar-chart [data]="uploadedFiles[index].data || []"></app-bar-chart>
  </li>
</ul>

<ng-template #uploadFiles>
  <p-fileupload
    #uploader
    (onSelect)="onSelect($event)"
    [chooseLabel]="uploadConfig.chooseLabel"
    [uploadLabel]="uploadConfig.uploadAllLabel"
    [cancelLabel]="uploadConfig.cancelLabel"
    [multiple]="true"
    [customUpload]="true"
    (uploadHandler)="onUpload($event)"
    [accept]="uploadConfig.accept"
    [maxFileSize]="uploadConfig.maxFileSize"
    [mode]="uploadConfig.mode"
    [fileLimit]="uploadConfig.fileLimit"
    [invalidFileLimitMessageSummary]="
      uploadConfig.invalidFileLimitMessageSummary
    "
    [invalidFileLimitMessageDetail]="uploadConfig.invalidFileLimitMessageDetail"
    [invalidFileSizeMessageSummary]="uploadConfig.invalidFileSizeMessageSummary"
    [invalidFileSizeMessageDetail]="uploadConfig.invalidFileSizeMessageDetail"
  >
    <ng-template #empty>
      <div>Выберите файлы.</div>
    </ng-template>

    <ng-template #file></ng-template>

    <ng-template #content let-files let-removeFileCallback="removeFileCallback">
      <ul *ngIf="files.length > 0">
        <li *ngFor="let file of files; let index = index">
          <div *ngIf="file | parseJsonFile as jsonFile">
            <span>Файл: {{ jsonFile.filename }}</span>
            <br />
            <span>Данные:</span>
            <ul *ngIf="jsonFile.data; else noData">
              <li *ngFor="let dataItem of jsonFile.data">
                {{ dataItem.category }} - {{ dataItem.value }}
              </li>
            </ul>

            <p-button
              icon="pi pi-times"
              (click)="removeFileCallback($event, index)"
              severity="danger"
              [label]="uploadConfig.cancelLabel"
            />
          </div>
        </li>
      </ul>
    </ng-template>
  </p-fileupload>
</ng-template>

<ng-template #noData>Нет данных <br /></ng-template>
